/* accordion.module.css */

.faq-item {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-left: 130px;
  margin-right: 130px;
  width: fit-content;
}

.faq-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 10px 0 20px;
  border-radius: 6px;
  cursor: pointer;
  background: #1d1d1d;
  margin-bottom: 10px;
  color: #f8f8f8;
}

.faq-item-header.active {
  background: #d22029;
}

.faq-item-header.active span {
  transform: rotate(-180deg);
}

.faq-item h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.faq-item p {
  padding: 0 20px 10px;
  line-height: 1.7;
  font-size: 14px;
}

.faq-item span {
  transition: 0.3s;
}

.faq-item-collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.faq-item-collapse.show {
  height: auto;
}

@media (max-width: 767px) {
  /* Estilos específicos para pantallas con un ancho máximo de 767px */
  .faq-item {
    margin-left: 20px;
    margin-right: 20px;
  }
}
